@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins";
}

*::-webkit-scrollbar {
  width: 10px;
  margin-left: -100px;
  position: absolute;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888; 
}

*::-webkit-scrollbar-track {
  background: rgb(102, 91, 91);
}
