.title1{
    font-family: "Bebas Neue";
    font-weight: bold;
}

.title2{
    font-family: "Poppins";
    font-weight: bold;
    font-style: italic;
}

.description{
    font-family: "Poppins";
    font-style: italic;
}


